.text{
    color: indigo;
    position: absolute;
    width: 45%;
    height: 100vh;
    background-color: whitesmoke;
    left: 55%;
    top: 90px;
    box-shadow: -7px 0 8px -5px rebeccapurple;
}

.aboutBlock{
    background-color: mediumpurple;
    width: 80%;
    height: 100px;
    margin-left: 10%;
    color: white;
}

.aboutTicket{
    background-color: mediumpurple;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    color: white;
}