.container{
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-weight: bold;
    align-items: center;
    padding-bottom: 20px;
}

.container div{
    width: 30%;
}

.aHref{
    font-size: 18px;
}