.text{
    color: indigo;
    position: fixed;
    width: 45%;
    height: 100%;
    background-color: whitesmoke;
    left: 55%;
    overflow:scroll;

    padding-bottom: 50rem;
    box-shadow: -7px 0 8px -5px rebeccapurple;

}

.aboutBlock{
    background-color: mediumpurple;
    width: 80%;
    padding: 5px 0;
    margin-left: 10%;
    color: white;
}

.aboutTicket{
    background-color: mediumpurple;
    width: 80%;
    height: 80px;
    margin-left: 10%;
    color: white;
}

.moveBlock{
    margin-left: 15px;
}
.headerText{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.aboutBlock *{
    margin-left: 10px;
}

.exitText{
    margin-right: 25px;
    cursor: pointer;
}

.typeText{
    text-align: center;
}